
CleanCode/.vs/CleanCode/FileContentIndex/272360d9-3fce-49c9-a2e9-b2c6524cd8fe.vsidx
CleanCode/.vs/CleanCode/v17/.suo
*.cache
CleanCode/.vs/CleanCode/v17/.suo
CleanCode/.vs/CleanCode/FileContentIndex/652dfae6-1b9f-4752-b3c5-d43c35b48ae8.vsidx
*.vsidx
CleanCode/.vs/CleanCode/v17/.suo
CleanCode/.vs/CleanCode/v17/.suo
*.cache
*.cache
*.cache
CleanCode/.vs/CleanCode/v17/.suo
Record/GlobalMacroRecorder/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Record/GlobalMacroRecorder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Record/GlobalMacroRecorder/obj/Debug/GlobalMacroRecorder.csproj.AssemblyReference.cache
Record/GlobalMacroRecorder/obj/Debug/GlobalMacroRecorder.csproj.GenerateResource.cache
Record/GlobalMacroRecorder/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Record/GlobalMacroRecorder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Record/GlobalMacroRecorder/obj/Debug/GlobalMacroRecorder.csproj.AssemblyReference.cache
Record/GlobalMacroRecorder/obj/Debug/GlobalMacroRecorder.csproj.GenerateResource.cache
Record/MouseKeyboardLibrary/obj/Debug/MouseKeyboardLibrary.pdb
Record/MouseKeyboardLibrary/obj/Debug/MouseKeyboardLibrary.dll
Record/MouseKeyboardLibrary/bin/Debug/MouseKeyboardLibrary.pdb
Record/MouseKeyboardLibrary/bin/Debug/MouseKeyboardLibrary.dll
Record/GlobalMacroRecorder/obj/Debug/GlobalMacroRecorder.pdb
Record/GlobalMacroRecorder/obj/Debug/GlobalMacroRecorder.exe
Record/GlobalMacroRecorder/obj/Debug/GlobalMacroRecorder.csproj.GenerateResource.cache
Record/GlobalMacroRecorder/obj/Debug/GlobalMacroRecorder.csproj.AssemblyReference.cache
Record/GlobalMacroRecorder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Record/GlobalMacroRecorder/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Record/GlobalMacroRecorder/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
*.cache
*.cache
/CleanCode/obj
*.cache
/CleanCode/.vs
/Record/GlobalMacroRecorder/bin
/CleanCode/bin/Debug
/RecordVideo/obj
/CleanCode/bin
/globalhook_src/obj
/Record/GlobalMacroRecorder/bin
