
CleanCode/.vs/CleanCode/FileContentIndex/272360d9-3fce-49c9-a2e9-b2c6524cd8fe.vsidx
CleanCode/.vs/CleanCode/v17/.suo
*.cache
CleanCode/.vs/CleanCode/v17/.suo
CleanCode/.vs/CleanCode/FileContentIndex/652dfae6-1b9f-4752-b3c5-d43c35b48ae8.vsidx
*.vsidx
CleanCode/.vs/CleanCode/v17/.suo
CleanCode/.vs/CleanCode/v17/.suo
*.cache
*.cache
*.cache
